body {
  background-color: turquoise;
}

.select1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background: #f71fb6;
  color: #fff;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;
}
.select2 {
  font-family: cursive, sans-serif;
  color: #fff;
  background-color: #f71fb6;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;
}
.select3 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background: #f71fb6;
  color: #fff;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;
}
.dropbtn {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background: #f71fb6;
  color: #fff;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;
}
.dropdown1 {
  display: flex;
  justify-content: center;
}
.dropdown2 {
  display: flex;
  justify-content: center;
}
.dropdown3 {
  display: flex;
  justify-content: center;
}
.maintitle {
  font-family: cursive, "Times New Roman", Times, serif;
  color: #f71fb6;
}
.randevu {
  display: flex;
  justify-content: center;
}
.bottomline {
  font-family: cursive, "Times New Roman", Times, serif;
  color: #f71fb6;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownsites:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: #fff;
  background-color: #f71fb6;
  font-family: cursive, sans-serif;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
span:before {
  content: "";
  animation: animate infinite 8s;
}
@keyframes animate {
  0% {
    content: "İLGER";
  }
  20% {
    content: "İLGEY";
  }
  40% {
    content: "İLGER";
}
60% {
    content: "İLGEY";
  }
  80% {
    content: "İLGER";
  }
    100% {
        content: "İLGEY";
      }
